1. Prerequisite: either choose an open source project or create your own very small application. ∂
2. Create a CI pipeline/workflow for the project selected in 1. ∂
3. Write a Jenkins script to create an artifact, by running via your local environment. ∂
4. Try to create a docker container for the selected project. ∂
5. Extra credit: Deploy into a cloud environment of your choice, using tools of your choice (i.e. terraform, other HashiCorp tools) ∂/2